*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    max-width: 1440px;
    background: ;
    margin: auto; /* Auto */
    overflow: auto;
    height: 100vh;
    /* width: 100vw; */
}
.container {
    background-image: url(./futuristic-bg.png);
    height: 100vh;
}