*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    max-width: 1440px;
    /* background: ; */
    margin: auto; /* Auto */
    overflow: auto;
    height: 100vh;
    /* width: 100vw; */
    
}
.container{
    background-image: url(./futuristic-bg.png);
    background-size: cover;
}
.navbar{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.navbar ul{
    display: flex;
    margin-left: -200px;   
}
.navbar ul li{
    margin: 0 15px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    color: #ffffff;
}
.navbar div :first-child{
    padding: 10px 25px;
    font-size: 0.9rem;
    font-weight: 300;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
}
.navbar div :nth-child(2){
    padding: 10px 25px;
    font-size: 0.9rem;
    font-weight: 300;
    color: #ffffff;
    background-color: #f4694c;
    border: none;
    cursor: pointer;
}
.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7% 5%;
}
.play_game{
    width: 45%;
}
.play_game h1{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}
.play_game p{
    padding: 30px 0;
    font-size: 1rem;
    font-weight: 300;
    color: #dddddd;
}
.play_game button{
    display: inline;
}
.Get-started{
    margin: 0 15px 0 0;
    padding: 15px 40px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #f4694c;
    border: none;
    cursor: pointer;
}
.Learn-more{
    margin: 0 15px 0 0;
    padding: 13px 40px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
    background: none;
    border: 2px solid #ffffff;
    cursor: pointer;
}
.play-btn{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.play_btn-container{
    position: relative ;
    top: 120px;
}
.rightArrow{
    position: relative;
    float: right;
    top: -40px;
    right: -150px;
}
.play_btn-king{
    font-size: 1.3rem;
    font-weight: 300;
    align-items: center;
    position: relative;
    right: -60px;
    top: -20px;
    z-index: 1;
}
.games{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 5%;
}
.games h1{
    font-size: 3rem;
    font-weight: 700;
    padding: 0 15% 5%;
    text-align: center;
}
.type_of_games{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 ;
    width: 100%;
}
.game-character_banner{
    height: 500px;
    width: 290px;
    margin-left: 0;
    /* border: 1px solid black; */
    overflow: hidden;
}
.soilder_img{
    width: 100%; 
    height: 360px; 
    object-fit: cover; 
    object-position: 75% 0;
    /* height: 100% ;
    width:100% ;
    object-fit: cover;
    object-position: 10% 100%;
    position: relative;
    left: -60px; */
}
.Wariors_img{
    width: 100%; 
    height: 360px; 
    object-fit: cover; 
    object-position: 50% 0;
}
.pubjiken_img{
    width: 100%; 
    height: 360px; 
    object-fit: cover; 
    object-position: 50% 0;
}
.garela_img{
    width: 100%; 
    height: 360px; 
    object-fit: cover; 
    object-position: 55% 0;
}
.soldier-War{
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
}
.solder_game{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -113px;
    backdrop-filter: blur(20px);
}
.the-war{
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
}
.action{
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 200;
    padding: 4px 0;
}
.download{
    padding: 10px 12px;
    margin-right: 5%;
    border: none;
    background-color: #f4694c;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 200;
    cursor: pointer;

}
.war_game{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.war-img{
    height: 450px;
    width: 45%;
}
.war_game-img{
    width: 100%; 
    height: 450px; 
    object-fit: cover; 
    object-position: 50% 0;
}
.war_game-heading{
    width: 60;
    display: flex;
    flex-direction: column;
}
.war_game-heading h2{
    font-size: 2.3rem;
    font-weight: 800;
    padding: 0 0 5% 0;
}
.war_game-heading p{
    font-size: 1rem;
    font-weight: 400;
    padding: 0 0 5% 0;
    margin: 0 0  60px 0;
}
.war_game-btn{
    display: inline;
}
.war_game-btn :nth-child(1){
    margin: 0 15px 0 0;
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #f4694c;
    border: none;
    cursor: pointer;
}
.war_game-btn :nth-child(2){
    margin: 0 15px 0 0;
    padding: 12px 40px;
    font-size: 1rem;
    font-weight: 400;
    color: #f4694c;
    background-color: transparent;
    border: 2px solid #f4694c;
    cursor: pointer;
}